
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  min-width: 320px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
}
